/******General Settings********/
body{
	font-family: verdana;
	background-image: url("Wallpaper.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
h1{
	text-align: center;
	font-size: 350%;
	color: skyblue;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
}
h2{
	font-size: 200%;
	text-align: center;
	color: whitesmoke;
	margin-top: 0px;
	margin-bottom: 1%;
}
.description{
	font-size: 130%;
	font-weight: bold;
	letter-spacing: 1.5px;
	color: greenyellow;
	text-align: center;
}
li{
	font-size: 150%;
	text-decoration: none;
	font-weight: normal;
	color: white;
	text-align: center;
	color: rgba(0,0,0,0.0);
	margin-bottom: 1%;
}
a{
	font-size: 150%;
	text-decoration: none;
	font-weight: normal;
	color: greenyellow;
}
a:hover{
	text-decoration: underline;
	font-weight: bold;
}

/******* nav *********/
nav{
	display: flex;
	margin-right: auto; 
	margin-left: auto;
	width: 70%;
	margin-top: 2%;
	margin-bottom: 3%;
}
.rows{
	width: 33%;
	margin-right: auto;
	margin-left: auto;
	background-color: #6a14a3;
	margin: 0;
	text-align: center;
	padding: 2%;
	color: #ec81c8;
	font-size: 200%;
}
.rows:hover{
	background-color: #5a1688;
	text-decoration: none;
	font-weight: normal;
}

/****** Img **********/
#HTL{
	width: 40%;
	padding-top: 1%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#HTL:hover{
	width: 42%;;
	padding-top: 0%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/******* Boxes *******/
.flexRow{
	display: flex;
}
#PDF-column{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	background-color: red;
	margin-bottom: 2%;
}
#PDF-column h2{
	padding-bottom: 10%;
	font-size: 180%;
	padding-top: 5%;
}
#PDF-column img{
	background-color: white;
	width: 80%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#PDF-column:hover{
	background-color: rgb(179, 12, 12);
}
#Aufgaben-column{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	background-color: burlywood;
	margin-bottom: 2%;
}
#Aufgaben-column img{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
#Aufgaben-column h2{
	padding-bottom: 10%;
	font-size: 180%;
	padding-top: 5%
}
#Aufgaben-column:hover{
	background-color: rgb(199, 151, 89);
}

/*******Wrapper********/
#wrapper{
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.4);
	padding-top: 1.5%;
}